In [2]:
import pandas as pd

df = pd.read_csv(
    'C:/Users/Prime/Desktop/glebik/data/olympics.csv', index_col=0, skiprows=1)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [3]:
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [4]:
def answer_one():
    max_gold = df['Gold'].max()
    ret = df[df['Gold'] == max_gold]
    ans = ret.index.values
    return ans[0]

print(answer_one())

United States

In [5]:
def answer_two():
    df2 = df.copy()
    df2['Gold_diff'] = df['Gold'] - df['Gold.1']

    score = []

    for row in df2['Gold_diff']:
        if row < 0:
            row = row * -1
            score.append(row)
        else:
            score.append(row)

    df2['score'] = score

    max_score = df2['score'].max()
    name = df2[df2['score'] == max_score]
    country_name = name.index.values
    return country_name[0]

print(answer_two())

United States

In [6]:
def answer_three():
    df2 = df.copy()
    df2 = df2[(df2['Gold'] > 0) & (df2['Gold.1'] > 0)]

    df2['Gold_diff'] = (df2['Gold'] - df2['Gold.1']) / df2['Gold.2']

    score = []

    for row in df2['Gold_diff']:
        if row < 0:
            row = row * -100
            score.append(row)
        else:
            row = row * 100
            score.append(row)

    df2['score'] = score

    df3 = df2[['Gold','Gold.1','Gold.2','score',]]

    max_score = df3['score'].max()
    name = df3[df3['score'] == max_score]
    country_name = name.index.values

    return country_name[0]

print(answer_three())

Bulgaria

In [7]:
def answer_four():
    df2 = df.copy()
    df2['Points'] = df2['Gold.2']*3 + df2['Silver.2']*2 + df2['Bronze.2']*1
    df3 = df2[['Gold.2','Silver.2','Bronze.2','Points']]
    return df3['Points']

print(answer_four())

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Name: Points, Length: 146, dtype: int64

In [9]:
census_df = pd.read_csv(
    'C:/Users/Prime/Desktop/glebik/data/census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [10]:
def answer_five():
    maximum_country = census_df.groupby(["STNAME"]).size().max()
    g2 = census_df.groupby(["STNAME"]).size()
    df3 = g2.reset_index()
    name = df3[df3[0] == maximum_country]
    name = name.set_index('STNAME').index.values[0]

    return name

print(answer_five())

Texas

In [11]:
def answer_six():
    df = census_df.copy()
    df=df[df['SUMLEV'] == 50]
    df = df[['CTYNAME', 'CENSUS2010POP']]
    df = df.set_index('CTYNAME')
    idx = df.sum(axis=1).sort_values(ascending=False).head(3).index
    # df1 = df.ix[idx]
    df1 = list(idx.values)

    return idx

print(answer_six())

Index(['Los Angeles County', 'Cook County', 'Harris County'], dtype='object', name='CTYNAME')

In [12]:
def answer_seven():
    df = census_df.copy()
    df=df[df['SUMLEV'] == 50]
    df = df[['STNAME','CTYNAME','POPESTIMATE2015','POPESTIMATE2014','POPESTIMATE2013','POPESTIMATE2012','POPESTIMATE2011','POPESTIMATE2010']]
    df = df.set_index(['STNAME', 'CTYNAME'])
    df1 = df.apply(lambda x: x.max() - x.min(),axis=1)

    df2 = df1.reset_index()
    df2 = df2.sort_values([0],ascending=[0])
    df3 = df2.set_index('CTYNAME').index.values

    return df3[0]

print(answer_seven())

Harris County

In [13]:
def answer_eight():
    df = census_df.copy()
    df = df[(df['REGION'] == 1) | (df['REGION'] == 2)]
    df = df[df['CTYNAME'] == 'Washington County']
    df = df[df['POPESTIMATE2015'] > df['POPESTIMATE2014']]

    return df[['STNAME','CTYNAME']]

print(answer_eight())

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County